views/battle-canvas.jade
html(lang='en')
  head
    meta(charset='utf-8')
    title Drones must Die
    meta(name='description', content='Drones Must Die')
    meta(name='author', content='Redradix')
    link(rel='stylesheet', href='/assets/stylesheets/styles.css?v=1.0')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body.battle
    .overlay
      .overlay-content.centered
        h1
          | Pepe WINS!!!
          span.lead
        p
          | Vostre summarios publication es uno, via e europee summario summarios. Su americano involvite pan. Que titulo capital complete il. Inter periodicos in qui, unic lateres unidirectional pro ma, in nomine maximo abstracte pan. Pan super linguas se. Le tamben populos pro, per iala celo e.
        .btn-panel.btn-group
          a.btn.left(href='/ranking.html') Ranking
          a.btn.right(href='#') Cancel
    .main-content
      section.grid.grid-12.panel
        .col.col-12.battle-canvas-wrap
          | Here goes the battle...
        .btn-panel.btn-group
          a.btn.btn-big.right(href='#') Cancel
    //
      end main-content
    footer
    script(src='/assets/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/assets/javascripts/libs/custom_form.min.js')
    script(src='/assets/javascripts/scripts.js')

static/battle-canvas.html
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Drones must Die</title>
    <meta name="description" content="Drones Must Die">
    <meta name="author" content="Redradix">
    <link rel="stylesheet" href="assets/stylesheets/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="battle">
  <div class="overlay">
    <div class="overlay-content centered">
      <h1>
        Pepe WINS!!!
        <span class="lead"></span>
      </h1>
      <p>Vostre summarios publication es uno, via e europee summario summarios. Su americano involvite pan. Que titulo capital complete il. Inter periodicos in qui, unic lateres unidirectional pro ma, in nomine maximo abstracte pan. Pan super linguas se. Le tamben populos pro, per iala celo e.</p>
      <div class="btn-panel btn-group">
        <a href="ranking.html" class="btn left">Ranking</a>
        <a href="#" class="btn right">Cancel</a>
      </div>
    </div>
  </div>
    <div class="main-content">
      <section class="grid grid-12 panel">    
        <div class="col col-12 battle-canvas-wrap">
            Here goes the battle...
        </div>
        <div class=" btn-panel btn-group">
          <a href="#" class="btn btn-big right">Cancel</a>
        </div>
      </section>
    </div><!--end main-content-->
    
    <footer></footer>
    <script src="assets/javascripts/libs/jquery-1.9.1.min.js"></script>
    <script src="assets/javascripts/libs/custom_form.min.js"></script>
    <script src="assets/javascripts/scripts.js"></script>
  </body>
</html>
