views/code.jade
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drones must Die
    meta(name='description', content='Drones Must Die')
    meta(name='author', content='Redradix')
    link(rel='stylesheet', href='/assets/stylesheets/styles.css?v=1.0')
    link(rel='stylesheet', href='/assets/stylesheets/ambiance.css')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body.code-editor
    .main-content
      section.grid.grid-12.panel
        .col.col-3
          h2 Choose your bot
          ul.v-list.my-robots-list
            li.list-item
              | My First Robot
            li.list-item
              | My Second Robot
            li.list-item
              | My Third Robot
            li.list-item
              | My Fourth Robot
            li.list-item
              | My First Robot
            li.list-item
              | My Second Robot
            li.list-item
              | My Third Robot
            li.list-item
              | My Fourth Robot
          form(action="")
            input.input-text.input-name(type='text', placeholder='Add new robot name')
            input.btn(type='button', value='+')
        .col.col-9
          h2.editor-title Code it!
          #editor
            | function foo(items) {
            | var x = "All this is syntax highlighted";
            | return x;
            | }
        .btn-panel.btn-group
          form(action='drones', method="post")
            input.btn(type='submit', value="Create")
          form(action='drones/test')
            input.btn(type='submit', value='Test')
          a.btn.ico-help(href='help.html') Help
          a.btn.btn-big.right(href='/drones/versus') To battle!!
    //
      end main-content
    footer
    script(src='/assets/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/assets/javascripts/libs/custom_form.min.js')
    script(src='/src/ace.js', type='text/javascript', charset='utf-8')
    script(src='/src/theme-ambiance.js', type='text/javascript', charset='utf-8')
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/ambiance");
      editor.getSession().setMode("ace/mode/javascript");
      document.getElementById('editor').style.fontSize='15px';
    script(src='/assets/javascripts/scripts.js')

static/code.html
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Drones must Die</title>
    <meta name="description" content="Drones Must Die">
    <meta name="author" content="Redradix">
    <link rel="stylesheet" href="assets/stylesheets/styles.css?v=1.0">
    <link rel="stylesheet" href="assets/stylesheets/ambiance.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body class="code-editor">

    <div class="main-content">
      <section class="grid grid-12 panel">    
        <div class="col col-3">
          <h2>Choose your bot</h2>
          <ul class="v-list my-robots-list">
            <li class="list-item">
              My First Robot
            </li>

            <li class="list-item">
              My Second Robot
            </li>

            <li class="list-item">
              My Third Robot
            </li>

            <li class="list-item">
              My Fourth Robot
            </li>

            <li class="list-item">
              My First Robot
            </li>

            <li class="list-item">
              My Second Robot
            </li>

            <li class="list-item">
              My Third Robot
            </li>

            <li class="list-item">
              My Fourth Robot
            </li>

          </ul>

          <form>
            <input type="text" placeholder="Add new robot name" class="input-text input-name" />
            <input type="button" class="btn" value="+" />
          </form>
        </div>

        <div class="col col-9">
          <h2 class="editor-title">Code it!</h2>
          <div id="editor">
            function foo(items) {
              var x = "All this is syntax highlighted";
              return x;
            }
          </div>
        </div>
      <div class=" btn-panel btn-group">
        <button href="#" class="btn">Create</button>
        <button href="#" class="btn">Test</button>
        <button href="help.html" class="btn ico-help">Help</button>
        <a href="versus.html" class="btn btn-big right">To battle!!</a>
      </div>
      </section>
    </div><!--end main-content-->
    
    <footer></footer>
    <script src="assets/javascripts/libs/jquery-1.9.1.min.js"></script>
    <script src="assets/javascripts/libs/custom_form.min.js"></script>
    <script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="src/theme-ambiance.js" type="text/javascript" charset="utf-8"></script>
    
    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/ambiance");
      editor.getSession().setMode("ace/mode/javascript");
      document.getElementById('editor').style.fontSize='15px';
    </script>
    <script src="assets/javascripts/scripts.js"></script>
  </body>
</html>
