views/home.jade
html(lang='en')
head
    meta(charset='UTF-8')
    title Drones Must Die
    link(rel='stylesheet', href='assets/stylesheets/styles.css?v=1.0')
  body
    .wrapper
      header.header-home
        .logo
          h3.left
            a(href='#') Drones Must Die
          a.btn.right(href='help.html') Help
    .main-content
      .hero
        .wrapper
          .hero-text.right-align
            h1 Drones Must Die
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus,Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          section
            .btn-group
              a.btn.btn-big.right(href='login') Log in
              a.btn.btn-big.right(href='code') Play
        //
          end hero
      //
        end wrapper
    //
      end main-content
    footer.main-footer
      p.small.centered
        | Omega Chi Delta
        a(href='http://hackaton.redradix.com/') Hackaton Redradix 2014 
        | &copycopyright 2014

views/home.html

<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Drones Must Die</title>
  <link rel="stylesheet" href="assets/stylesheets/styles.css?v=1.0"/>
</head>
<body>
  <div class="wrapper">
    <header class="header-home">
      <div class="logo">
        <h3 class="left"><a href="#">Drones Must Die</a></h3><a href="help.html" class="btn right">Help</a>
      </div>
    </header>
  </div>
  <div class="main-content">
    <div class="hero">
      <div class="wrapper">
        <div class="hero-text right-align">
          <h1>Drones Must Die</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus,Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
        <section>
          <div class="btn-group"><a href="login" class="btn btn-big right">Log in</a><a href="code" class="btn btn-big right">Play</a></div>
        </section>
      </div>
      <!--
      <end>hero</end>
      -->
    </div>
    <!--
    <end>wrapper</end>
    -->
  </div>
  <!--
  <end>main-content</end>
  -->
  <footer class="main-footer">
    <p class="small centered">Omega Chi Delta<a href="http://hackaton.redradix.com/">Hackaton Redradix 2014 </a>&copycopyright 2014</p>
  </footer>
</body>
