static/versus.html
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Drones must Die</title>
    <meta name="description" content="Drones Must Die">
    <meta name="author" content="Redradix">
    <link rel="stylesheet" href="assets/stylesheets/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="versus">

    <div class="main-content">
      <section class="grid grid-12 panel">    
        <div class="col col-6">
        <div class="my-robot">
          <h2>my robot goes here</h2>
          <img src="assets/images/R1.F.1.png">
          <span class="versus-txt">VS</span>
        </div>
        </div>
        <div class="col col-6">
          <h2>Choose your opponent</h2>
          <ul class="v-list opponents-list">
            <li class="list-item">
                <span class="name">First Robot</h5>
                <span class="rank">
                  rank
                  <em>1</em>
                </span>
                <span class="creator">Creator</span>
            </li>          
            <li class="list-item">
                <span class="name">Second Robot</h5>
                <span class="rank">
                  rank
                  <em>2</em>
                </span>              
                <span class="creator">Creator 2</span>
            </li>

            <li class="list-item">
                <span class="name">Second Robot</h5>
                <span class="rank">
                  rank
                  <em>3</em>
                </span>              
                <span class="creator">Creator 2</span>
            </li>

            <li class="list-item">
                <span class="name">Second Robot</h5>
                <span class="rank">
                  rank
                  <em>4</em>
                </span>              
                <span class="creator">Creator 2</span>
            </li>

            <li class="list-item">
                <span class="name">Second Robot</h5>
                <span class="rank">
                  rank
                  <em>5</em>
                </span>              
                <span class="creator">Creator 2</span>
            </li>


          </ul>

        </div>      
        <div class=" btn-panel btn-group">
          <a href="battle-canvas.html" class="btn btn-big right">Fight!!</a>
        </div>
      </section>
    </div><!--end main-content-->
    
    <footer></footer>
    <script src="assets/javascripts/libs/jquery-1.9.1.min.js"></script>
    <script src="assets/javascripts/libs/custom_form.min.js"></script>
    <script src="assets/javascripts/scripts.js"></script>
  </body>
</html>

views/versus.jade
html(lang='en')
  head
    meta(charset='utf-8')
    title Drones must Die
    meta(name='description', content='Drones Must Die')
    meta(name='author', content='Redradix')
    link(rel='stylesheet', href='/assets/stylesheets/styles.css?v=1.0')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body.versus
    .main-content
      section.grid.grid-12.panel
        .col.col-6
          .my-robot
            h2 my robot goes here
            img(src='/assets/images/R1.F.1.png')
            span.versus-txt VS
        .col.col-6
          h2 Choose your opponent
          ul.v-list.opponents-list
            li.list-item
              span.name
                | First Robot
                span.rank
                  | rank
                  em 1
                span.creator Creator
            li.list-item
              span.name
                | Second Robot
                span.rank
                  | rank
                  em 2
                span.creator Creator 2
            li.list-item
              span.name
                | Second Robot
                span.rank
                  | rank
                  em 3
                span.creator Creator 2
            li.list-item
              span.name
                | Second Robot
                span.rank
                  | rank
                  em 4
                span.creator Creator 2
            li.list-item
              span.name
                | Second Robot
                span.rank
                  | rank
                  em 5
                span.creator Creator 2
        .btn-panel.btn-group
          a.btn.btn-big(href='/drones') Back
          a.btn.btn-big.right(href='/drones/show') Fight!!
    //
      end main-content
    footer
    script(src='/assets/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/assets/javascripts/libs/custom_form.min.js')
    script(src='/assets/javascripts/scripts.js')
